[2019-11-25 13:57] Rubbiroid opened #6 "Extension methods are not listed in dependencies"
If a class uses an extension method, this extension method is not listed in the dependencies of this class.

[2019-11-26 09:27] fgather commented on #6
Released in 0.2.1

[2019-11-26 09:59] Rubbiroid commented on #6
still don't work...

Example code to reproduce:
`
using Castle.Core.Internal;
public class SomeClass
{
  public bool MethodWithDependency()
  {
    var list = new List<string>();
    return list.IsNullOrEmpty();
  }
}
`

Test:
`
  Classes()
    .Should().NotDependOnAny("Castle.Core.Internal")
    .Check(Architecture);
`

[2020-01-14 18:22] fgather opened #9 "ImplementInterface conjunction should support Type parameter"
Hi @brandhuf ,

HaveAnyAttributes(typeof(DecorateAttribute)) supports Type parameter, however some Conjunctions only support string patterns , like: ImplementInterface(nameof(IDecorator));

Can you extend the conjunctions in that regard?

[2020-02-12 15:16] brandhuf commented on #9
pull request #10 added support for more input parameters for some conjunctions, including ImplementInterface(typeof(...))

[2020-02-16 21:59] fgather commented on #9
Hi, I merged the PR, thanks a lot!

[2020-02-16 21:59] #9 closed

[2020-02-16 22:27] fgather opened #11 "FeatureRequest: Allowlist / Exceptions for existing code-bases"
The original ArchUnit has a mechanism to make integration of new ArchUnit rules into existing code-bases easier. (See https://www.archunit.org/userguide/html/000_Index.html#_freezing_arch_rules).

Something similar would be quite helpful when applying it to legacy code.

[2020-02-16 22:30] fgather opened #12 "FeatureRequest: Cycle Checks"
Similar to ArchUnit, we require a cycle check (https://www.archunit.org/userguide/html/000_Index.html#_cycle_checks).

[2020-05-09 15:34] fgather commented on #6
@Rubbiroid , can you retest? Is it fixed now?

[2020-05-25 00:36] ujkim opened #13 "Package installation fails in .NET Framework 4.6.1, .NET Core environment."
Hello, I was interested in ArchUnitNET to improve the quality of my project's architecture.
But, Now I can't installed in .NET Framework 4.6.1, .NET Core development environments.

Of course the .NET Framework 4.6.1 version is not the latest, But My personal project is currently using version 4.6.1.
If you care about supporting this issue, I'm sure more developers will be able to help improve soft

[2020-07-20 22:27] Denis535 opened #14 "It looks like typo in TypeExtensions.CallsMethod(...)"
[Is it okey or not?](https://github.com/TNG/ArchUnitNET/blob/master/ArchUnitNET/Fluent/Extensions/TypeExtensions.cs#L24)

        public static bool CallsMethod(this IHasDependencies type, MethodMember method)
        {
            return type.GetCalledMethods().Contains(type);
        }

[2020-07-21 15:45] brandhuf commented on #14
Yes, you're correct, it is a typo. Thanks for pointing it out.

[2020-07-24 08:18] Denis535 opened #16 "How to check that Fluent only depends on System, Core and Domain namespaces?"
How to check that ArchUnitNET.Fluent only depends on System, ArchUnitNET.Core and ArchUnitNET.Domain namespaces? I wrote the test, but it fails.
Why your tests don't check your architecture? Or did I not found it?

[code]

Message is hell ((
[code]

[2020-07-24 10:22] Denis535 opened #17 "Better architecture"
Now your package consists of one project. It is very difficult to understand dependencies in one project.
I suggest to split it on: Core, Internal/Infrastructure and Extensions/Utils. Core is main code. Internal is helpers. Extensions is utils and syntax sugar (Fluent).
Also I think it would be better to join Core and Domain namespaces to Reflection or Entities namespace. Now your Core is not true

[2020-07-24 11:13] fgather commented on #17
Hi, thanks for the feedback, I think you are right!
Especially I'd like to use ArchUnitNET on itself to keep it that way. Would you be open to create a PR for that?
@Rubbiroid , @brandhuf  can you help here?

[2020-07-24 12:16] Rubbiroid commented on #17
@fgather sure, I will take it over after slices are merged

[2020-07-24 16:09] fgather commented on #16
Hi,

I'm not 100% sure if the rule definition is what you aim for.
However, this PR here introduces Slices, similar to the Java version: https://github.com/TNG/ArchUnitNET/pull/15. Hopefully it will make the "layer" rules a little bit simpler.

To be completely honest, until now I have mostly used the non-fluent version for those rules in my projects.

[2020-07-28 12:10] brandhuf commented on #16
Hi,
you should be using OnlyDependOn() instead of DependOnAny() in your rule:

[code]
DependOnAny(*) throws an error for every type which does not depend on any type in *.

Sadly there are still problems with this, because
`ArchRuleDefinition.Types().That().ResideInNamespace("System").Or()
                    .ResideInNamespace("ArchUnitNET.Core").Or().ResideInNamespace("ArchUnitNET.Domain").Or()

[2020-08-09 12:32] vikaskerni opened #19 "Is ExampleArchUnitTestCooking test working for .Net Core SDK(3.1.101)"
I am very excited about this great. framework . Great work
I have a question .
Is ExampleArchUnitTestCooking  working for .Net Core SDK(3.1.101).

I removed the ICook interface from FrenchChef and ran the test.
Test is still passing. I was expecting it to fail
Looking forward to your answer.

[2020-08-24 12:33] #14 closed

[2020-08-28 14:57] #12 closed

[2020-08-28 14:58] #17 closed

[2020-08-28 15:31] Rubbiroid commented on #6
nope. Still doesn't work. Maybe it needs generic support as particular extensions uses generics

[2020-08-28 21:08] fgather commented on #6
I think I added a test case for this in the new generics code on staging. Should be fixed soon, but we don't want to rush things there.

[2020-08-28 21:20] fgather commented on #19
Hi,

You're completely right, this assertion does not work. The "ImplementsInterface"-method returns a boolean and the XUnit Assert.All method expects an exception if something does not match, so that does not fit well. Personally I recommend the Fluent API for tests.

I'll fix this example test right away. Thanks for finding this issue!

[2020-08-28 21:25] fgather commented on #19
Done and I also found another occasion of this interpretation of the XUnit Assert.All method. Thanks again!

[2020-08-28 21:25] #19 closed

[2020-09-21 18:55] vikaskerni commented on #19
Thank you very much. I am very excited about this framework.
Great work.

[2020-10-05 16:59] fgather commented on #13
Hey @ujkim ,
we have a windows build and a NET 4.8 package now and are trying to create it for older NET versions as well.

[2020-10-13 11:20] Rubbiroid opened #27 "Dependency on external static classes is not recognized"
Hi! Found an issue:

[code]

Throws an exception:

`ArchUnitNET.Domain.Exceptions.TypeDoesNotExistInArchitecture : Type Newtonsoft.Json.JsonConvert does not exist in provided architecture or is no class...`

JsonConvert contains static methods with are used in the code

[2020-10-26 09:32] ujkim commented on #13
@fgather Thank you very much!
I'm using on .NET Framework 4.6.1. But, When I tried to install it, it failed.

TngTech.ArchUnitNET.NUnit 0.3.2 Install failed. Rollbak
'TngTech.ArchUnitNET.NUnit.0.3.2' Package doesn't exists in 'A' Project.
'TngTech.ArchUnitNET.NUnit.0.3.2' Package doesn't exists in 'A\packages' Folder
'TngTech.ArchUnitNET.NUnit 0.3.2' Package cannot be installed.

Hmm I have to do

[2020-12-03 08:24] fgather commented on #13
Hi @ujkim ,
sorry, I somehow missed that Github notification. I think one of our dependencies back then did only supported 4.8 upwards. We removed that dependency by now. Let's see if we can make it work for 4.6.

[2020-12-06 23:12] fgather commented on #13
Hey @ujkim,

I just released version 0.3.5, which should work for .NET Framework <= 4.5.

Best Regards,
Florian

[2021-01-19 16:36] #13 closed

[2021-01-20 14:53] fgather commented on #27
This should be fixed with the current release. Can you test it?

[2021-01-20 14:54] fgather commented on #16
This should be fixed with the current release. Can you test it?

[2021-01-20 14:54] fgather commented on #6
This should be fixed with the current release. Can you test it?

[2021-01-21 13:10] renovate[bot] opened #43 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:44] #43 closed

[2021-01-28 11:38] wiewiur25 opened #46 "Generic Methods with two generic paramters"
Hello!

I found bug probably. When I tried Build Architecture using ArchLoader with Build method I have exception:

`System.InvalidOperationException : Full name of declaring member doesn't match.
   at ArchUnitNET.Domain.GenericParameter.AssignDeclarer(IMember declaringMethod)
   at ArchUnitNET.Loader.LoadTasks.AddGenericParameterDependencies.AddMemberGenericParameterDependencies()
   at ArchUnit

[2021-01-28 12:33] fgathercoupa commented on #46
Hi @wiewiur25 ,
thanks for letting us know. This looks like a bug and we are currently looking into it.

Best Regards

[2021-01-28 12:36] wiewiur25 commented on #46
It isn't urgent. I realized I dont need whole assembly, I can use LoadNamespacesWithinAssembly and it is ok for me.

[2021-01-28 14:28] brandhuf commented on #46
PR #47 should fix this issue

[2021-01-28 15:29] fgather commented on #46
@wiewiur25 , I just released version 0.4.3, which should appear on nuget soon and hopefully fix it.

[2021-01-29 07:10] wiewiur25 commented on #46
thanks, now It's working!

[2021-01-29 07:10] #46 closed

[2021-02-08 05:00] nrkim opened #51 "Building Assemblies failed"
Hello, I tried to use ArchUnitNET (v0.4.3,  .NET Framework 4.6.1 )  But When Building assemblies , exception was occured.
Is Any wrong with this code? or is it a bug?
Thank you for your help.

Code :
[code]

Exception :
Cannot cast type object'ArchUnitNET.Loader.TypeInstance`1[ArchUnitNET.Domain.Class]' to type'ArchUnitNET.Domain.ITypeInstance`1[ArchUnitNET.Domain.Interface]'.

Location: ArchUnitN

[2021-02-09 17:01] brandhuf commented on #51
Hi,

we've tried to replicate the problem, but without success. It seems that a class in your architecture is mistakenly interpreted as an interface during loading. Could you please step in the AddInterfaceDependencies() method where the exception is thrown and give us some information on the type which throws an exception at the attempt to cast it to ITypeInstance<Interface>?

[2021-02-16 12:42] fgather commented on #11
#52

[2021-02-22 11:42] Yaevh opened #53 "Custom rules (predicates and conditions)"
I cannot seem to find a way to define custom predicates and conditions. Am I missing something, or is this part or ArchUnit not implemented?

[2021-02-22 12:11] Yaevh opened #54 "installing ArchUnitNET.xUnit breaks xUnit"
After installing `ArchUnitNET.xUnit` in an existing `xUnit` test project, existing tests fail to compile with error `Error	CS0433	The type 'Assert' exists in both 'ArchUnitNET.xUnit, Version=0.4.3.0, Culture=neutral, PublicKeyToken=null' and 'xunit.assert, Version=2.4.1.0, Culture=neutral, PublicKeyToken=8d05b1bb7a6fdb6c'`.
The reason is that `ArchUnitNET.xUnit` defines a partial class `XUnit.Asse

[2021-02-22 13:04] fgather commented on #54
Sounds like a good idea, will do

[2021-02-22 13:28] brandhuf commented on #53
I just created a PR (#55) with this feature

[2021-02-22 13:32] brandhuf commented on #54
Have you tried removing the dependency to xunit and just use ArchUnitNET.xUnit instead? It should work that way

[2021-02-22 14:25] Yaevh commented on #54
@brandhuf Either I'm doing something wrong, or your solution doesn't work in .NET 5. And even if it did, it would still feel a bit hackish :/

[2021-02-26 10:32] fgather commented on #53
I reviewed and merged it. @brandhuf , can you also update the documentation if you have time? Thanks!

[2021-02-26 10:33] fgather commented on #54
@Yaevh , I agree, I think we should move it @brandhuf

[2021-02-26 16:11] brandhuf commented on #54
I moved and renamed the assert class to ArchUnitNET.xUnit.ArchRuleAssert in PR #57

[2021-02-26 17:13] fgather commented on #54
@Yaevh , ArchRuleAssert.ArchRule().. sounds a bit too much, right? Do you have a better idea?

[2021-02-26 19:43] brandhuf commented on #54
I renamed it to ArchRuleAssert.CheckRule()

[2021-02-26 19:55] fgather commented on #54
Release 0.5.0 will be on nuget soon. Since this is a breaking change, there is a small version bump

[2021-02-26 19:56] fgather commented on #53
Will be part of 0.5.0

[2021-02-26 19:56] #53 closed

[2021-02-26 19:56] #54 closed

[2021-03-01 10:26] Der-Kraken opened #58 "Create a naming rule for a simple generic class"
Hello. After playing around for simple naming rules I got to a point I don't know how to write it.

Below you can see a class model of the CQRS-pattern. Simple naming rules I got on my own. But know I want to write a rule which check the prefix of the "Handler"-class.

The rule should be:
Handler naming must match the name of the request (first generic argument) except their own naming suffix (-Ha

[2021-03-01 11:17] brandhuf commented on #58
Hi,
you will need to create a custom condition for this rule. One way to implement this would be:

`
var rule = Classes().That().ImplementInterface("IHandler").Should().FollowCustomCondition(cls =>
                    cls.Name.StartsWith(GetPrefix(cls.GetImplementsInterfaceDependencies()
                        .First(dep => dep.Target.FullNameContains("IHandler")).TargetGenericArguments.First().T

[2021-03-01 14:09] Der-Kraken commented on #58
Thats a brilliant rule you have wrote. It works fine. Many thanks to you!

[2021-03-02 08:02] #58 closed

[2021-03-03 00:40] Yaevh opened #59 "Class.Type.Attributes is empty even when Attribute is applied"
Consider the following test (using `ArchUnitNET.xUnit`):

[code]

In version 0.5.0 running under .NET 5, the first test passes as expected - but the second one fails, since `Class.Type.Attributes` list is empty, even though it should contain `ObsoleteAttribute`.

[2021-03-03 01:54] Yaevh commented on #59
I've just doscovered that if I modify the failing test condition from `@class.Type.Attributes.Any()` to `@class.Attributes.Any()`, the test passes. This begs the question - what does `class.Type` represent? It would be helpful to provide some codedoc for `Type` property, as it can be confusing without it.

[2021-03-04 02:25] Yaevh opened #60 "Inspecting attributes"
Right now, ArchUnitNET allows us to test whether our classes are decorated with certain attributes (via either `Classes().Should().HaveAnyAttributes(typeof(MyAttribute))` or `Class.HasAttribute("MyAttribute")`. However, in most cases it's not only the presence of an attribute that is important, but also its properties (or its value, which is just a special case of a single property).

For example,

[2021-03-04 07:55] wiewiur25 opened #61 "System.InvalidCastException"
Hello!

I have problem with loading assemblies. This is my code:
` public void LoadAssemblies()
{
    _architecture = new ArchLoader()
           .LoadAssemblies(typeof(Sm.Aspen.Domain.IAssemblyMarker).Assembly,
                 typeof(Sm.Aspen.Messages.IAssemblyMarker).Assembly)
            .Build();
 }`

and this part of code throwing exception:
`OneTimeSetUp: System.InvalidCastException : Unabl

[2021-03-04 20:48] fgather commented on #61
Hi,
this looks like a bug to me. Do you have any information on where exactly this happens? Stacktrace? Or can you even write a tests that replicates this issue?

Thanks a lot!

[2021-03-05 06:05] wiewiur25 commented on #61
Hi,

I have stacktrace:
`System.InvalidCastException: Unable to cast object of type 'ArchUnitNET.Loader.TypeInstance`1[ArchUnitNET.Domain.Class]' to type 'ArchUnitNET.Domain.ITypeInstance`1[ArchUnitNET.Domain.Interface]'.
at ArchUnitNET.Loader.LoadTasks.AddClassDependencies.<AddInterfaceDependencies>b__7_0(TypeReference target)
at ArchUnitNET.Domain.Extensions.EnumerableExtensions.ForEach[T](IEnum

[2021-03-05 06:59] nrkim commented on #51
II'm sorry late.
I tried to find exact type of ITypeInstance from exception details message, but it was difficult to find valid information among exception details. I finally found typeInstance after I extracted AddInterfaceDependencies function using reflection, and called function alone.  I'm not sure which information is useful  so, added _typeDefinition  information.  if any other information

[2021-03-11 05:41] wiewiur25 commented on #61
Hello,

any news?

[2021-03-11 12:16] brandhuf commented on #61
Hi,

sorry for the late response. This seems like a bug to me, probably the same as Issue #51 . I will try to fix it next week.

[2021-03-22 10:47] fgather commented on #61
Hi @wiewiur25 , could you test it again with the current release?

[2021-03-22 10:47] fgather commented on #51
Hi @nrkim  , could you test it again with the current release?

[2021-03-24 02:01] nrkim commented on #51
@fgather  Type cast error is passed but another error occured when assemblies are built. (latest version v0.5.2)

[code]

[2021-03-24 18:57] brandhuf commented on #60
Sadly, this feature is not implemented yet, but I will look into it!

[2021-03-24 19:00] brandhuf commented on #59
`class.Type` is mainly used during creation of the architecture. For writing tests you should only use `class.Attributes`. The `Type` property will probably be removed or made private in a future release.

[2021-03-24 19:43] fgather commented on #51
Hi @nrkim ,
I just released a version containing the fix. It looks like there are problems when a dll which is referenced by youre architecture is missing. We are currently working on a way to test those scenarios better.

[2021-03-26 00:27] nrkim commented on #51
now, code is working well. Thank you!!

[2021-03-30 08:06] wiewiur25 commented on #61
sorry for long response, I didn't have time.

now its look ok. Thank you very much!

[2021-03-30 08:06] #61 closed

[2021-04-14 14:05] #51 closed

[2021-04-26 14:30] hoffmannjanos opened #71 "Static function call though lambda is not recongized as dependency"
The framework doesn't find the dependency to SomeOtherClass (which is in another project) in such code:
[code]

[2021-04-27 21:22] fgather commented on #71
We found the issue. The example provided is not enough for the reproduction though. The issue happens in an interesting edge case, when using yield and calling a static method from this generator function. In this case the C# compiler creates some compiler generated classes, which would not be an issue on its own, since ArchUnit traverses the whole tree of compiler generated methods. But in order

[2021-04-28 13:10] brandhuf commented on #71
Can you test it again with the newest release?

[2021-04-28 14:59] hoffmannjanos commented on #71
It seems to be working fine now. Thank you.

[2021-04-28 15:02] fgather commented on #71
great, thanks for the quick feedback!

[2021-04-28 15:02] #71 closed

[2021-04-29 22:34] fgather commented on #11
merged and released. Thanks @brandhuf

[2021-04-29 22:34] #11 closed

[2021-05-04 09:07] mw-ste opened #76 "LoadAssembliesIncludingDependencies fails for record type"
Hi, I have a problem when using the `LoadAssembliesIncludingDependencies` method with the `record` types introduced in C#9.
The problem occured when migrating old classes to record types.
Suddenly I was getting `NullReferenceException`s in my unit tests (stacktrace at the end of the issue).

I tried to narrow it down and the trigger for the exception seems to be a method inside my new `record` typ

[2021-05-04 13:49] mw-ste commented on #76
I played around a little bit and came up with a possible fix, or at least workaround.

In the method `CreateMethodBodyDependenciesRecursive` of the class `AddMethodDependencies` I replaced the line:
[code]
with the line:
[code]

I didn't create a PR, because I would have to update several projects to .Net 5 to create a proper test for a `record` type...
Also I don't really know what's going on 😃

[2021-05-06 07:18] mw-ste commented on #76
Thanks for taking care of that so quickly 👍

[2021-05-07 13:46] mw-ste commented on #76
No problem, it's not urgent ;)

[2021-05-21 18:06] #76 closed

[2021-05-21 20:12] SeMuell opened #78 "Feature Request: PlantUML Support"
Similar as in original [ArchUnit](https://www.archunit.org/userguide/html/000_Index.html#_plantuml_component_diagrams_as_rules) the PlantUML support is long awaited and would help on improving the relationship between documentation and code.

Before I start some development I would like to start some discussions here, because I saw a fork from @studix who worked on this for some time.

[2021-05-21 21:36] studix commented on #78
@SeMuell I‘m almost there with basic plantuml support in my fork. The implementation is considering only the dependencies defined in the plantuml file so far (no other options as the Java version does). Also there is no ignore dependency support.

What‘s open is manual testing with some projects. I try to finish this soon.

[2021-05-21 21:49] SeMuell commented on #78
That's great to hear @studix, thanks for the fast response. I think such basic implementation would already help a lot. I may also be able to test the implementation with some projects.

[2021-05-22 11:28] fgather commented on #78
@studix , let me know if @brandhuf or I can support you. Feel free to open an early pull-request, so I can give feedback also on an intermediate state. Thanks a lot for you effort!

[2021-06-18 22:13] fgather commented on #78
Thank you @studix , I just merged and released the PR. Thanks for improving ArchUnit!

[2021-06-18 22:13] #78 closed

[2021-07-19 09:40] studix opened #95 "DocumentationRequest: Documentation for PlantUml support"
Support for PlantUml was recently added to ArchUnitNet. There is currently no documentation available for this feature. It would be good to extend [the docs](https://archunitnet.readthedocs.io/en/latest/).

[2021-07-19 09:41] studix commented on #95
I could work on this.

[2021-07-21 09:13] fgather commented on #95
Hi Marco,
that sounds great, thanks!

[2021-07-22 11:18] DialLuesebrink opened #96 "Classes contain structs"
I would expect this test not to fail in a code base with classes and structs.
It would be nice to have Structs separately.

[code]

[2021-07-22 11:25] DialLuesebrink opened #97 "Expose static on MethodMember"
I was not able to find a way to determine if a Method is static.
As far as i understand it this should be a fix in the TypeFactory around here https://github.com/TNG/ArchUnitNET/blob/b4d48c70553780b81b3d1d7b06f190cafcacdeb3/ArchUnitNET/Loader/TypeFactory.cs#L285

Mono Cecils methodDefinition has a IsStatic.

[2021-07-22 11:27] DialLuesebrink opened #98 "Assemblies should expose attributes"
When the attributes are constructed their attributes are not collected.
Thus you can not determine if an assembly has a specific attribute.

[2021-07-22 12:46] fgather commented on #27
I'll close this, since it should be fixed.

[2021-07-22 12:46] #27 closed

[2021-07-22 12:46] fgather commented on #6
I'll close this, since it should be fixed.

[2021-07-22 12:46] #6 closed

[2021-07-22 12:46] fgather commented on #16
I'll close this, since it should be fixed.

[2021-07-22 12:46] #16 closed

[2021-07-22 12:47] fgather commented on #60
This has been released today with 0.7.0. @Yaevh , is this solving the issue?

[2021-07-22 12:49] fgather commented on #96
Thanks for the valuable input. I'd assume that we have the same problem with records.

[2021-07-22 13:05] DialLuesebrink commented on #96
Afaik records are classes internally, though there might be some way to discern them through some attributes or so.

[2021-07-24 11:15] Yaevh commented on #60
Somewhat, but not fully.
0.7.0 allows for checking attribute arguments against a predefined set of objects. What it doesn't allow, however, is checking them via a callback that could verify each attribute separately (i.e. when each attribute's arguments depend on the class being decorated).

So basically something like this:
[code]

[2021-08-25 04:47] renovate[bot] opened #102 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update mstest monorepo to v2.2.8](../pull/136) (`MSTest.TestAdapter`, `MSTest.TestFramework`)
 - [ ] [Update dependency Microsoft.NET.Test.Sd

[2021-08-25 12:10] brandhuf commented on #60
You could write a custom condition like this:

[code]

[2021-08-25 14:09] fgather commented on #102
we should not update the test libs (at least in our own test lib extensions, otherwise users are forced to update as well)

[2021-08-25 14:10] fgather commented on #97
Merged and released as 0.7.1.
@DialLuesebrink is this what you expected?

[2021-08-25 14:10] fgather commented on #98
Merged and released as 0.7.1.
@DialLuesebrink is this what you expected?

[2021-08-29 01:37] jezzsantos opened #107 "How to see what types you have captured?"
Given a set of types, like this:

[code]
How can I debug and see what types are actually captured in this layer? for debugging my rules?

[2021-08-29 01:46] jezzsantos opened #108 "Check that Properties only return certain types"
Is there a way to assert that the public getter/setter properties of all types in a namespace, only return values of a set of given types (eg. `string`)?

for example: this class should fail on PropertyB.
[code]
Can you give an example of how?

[2021-08-30 06:22] DialLuesebrink commented on #97
Yes thank you very much.
👌

[2021-08-30 06:22] DialLuesebrink commented on #98
Yes thank you very much.
👌

[2021-08-30 07:07] #97 closed

[2021-08-30 07:25] #98 closed

[2021-08-31 07:27] thomasdc commented on #107
Simply add `GetObjects(MyArchitecture)`

[2021-08-31 20:29] jezzsantos commented on #107
thanks

[2021-08-31 20:29] #107 closed

[2021-09-01 02:52] jezzsantos opened #109 "Nested Types (only one level)"
I have some classes like this because this is a pattern we use in our codebases for various good reasons:
[code]

Now, I want to capture all the classes that derive from the interface `IChangeEvent` but as it turns out, I never see any.

This statement captures the `Thing` class, but not the `CreateThing` class.
[code]

The framework seems to support nested classes, but it only seems to support on

[2021-09-01 22:21] fgather commented on #109
Hi @jezzsantos ,

thanks for reporting, I think this is a bug. We'll try to handle it.

[2021-09-02 00:04] jezzsantos commented on #108
I've tried this approach, but its seems like when it executes, the values for `GetPropertyMembers()` is empty for any of my declared types.

So, I must be doing something wrong:

[code]
where: `OnlyHavePropertiesOfType()` is defined like this:
[code]
When this rule executes for any type found, the call to `GetPropertyMembers()` returns an empty collection!

[2021-09-06 15:56] kirchsth opened #112 "ArchUnitNET itself has circular dependencies"
ArchUnitNET itself has circular dependencies; shouldn't it be avoided? ;-)

Both tests failes
[code]

BR Helmut

[2021-09-08 21:13] fgather commented on #112
It depends :) But we might want to have a look into that, true.

[2021-09-08 21:15] fgather commented on #108
@brandhuf , could you look into this?

[2021-09-09 19:24] kirchsth opened #113 "Slice names have only the dynamic part"
I want to create a plantuml diagram based on found errors, eg.
[code]

but the found slices are all without the "ArchUnitNet." prefix (e.g. "Fluent", but I would expect "ArchUnitNET.Fluent").
Is it possible to add a "full name" property to the slices with the fix parts too?

Thank you and best regards
Helmut

PS.: Atm I use C4-PlantUML but maybe I can extend add a better namesspaces/classes diagra

[2021-09-10 09:18] fgather commented on #113
Hi,
I like the diagrams very much. Agreed, the FullName property for the Slices is useful and we should implement it. I can try to do that myself, but I'm also open to Pull-requests ;)

Best Regards,
Florian

[2021-09-11 12:33] brandhuf commented on #108
Yes, I will look into it.

[2021-09-20 14:12] brandhuf commented on #112
I refractored the circular dependencies of the first testcase in #115 . The second case is fine I think, and doesn't need to be resolved.

[2021-09-20 16:30] brandhuf commented on #108
I implemented exaclty like you did and it works fine for me. GetPropertyMembers() also returns the correct properties, so I'm not sure what the problem is in your case.

[2021-09-20 20:31] fgather commented on #112
Thanks, it is merged now

[2021-09-20 20:31] #112 closed

[2021-09-21 15:41] brandhuf commented on #109
Fixed in #118

[2021-09-27 08:16] ZDI-StephanJoneleit opened #121 "PUML Errormesasages contains multiple duplications"
The errormessages you get when the architecture in your code does not match the architecture of the Puml does contain many duplications.
Duplications are filtered in the non-puml version, but not in puml.
For example:
I get the errormessage:
----
"Types should adhere to PlantUML diagram." failed:
        ExampleTest.PlantUml.Products.Product does depend on ExampleTest.PlantUml.Customers.Customer

[2021-09-27 22:30] fgather commented on #109
Fix was released in 0.8.1

[2021-09-27 22:30] #109 closed

[2021-09-28 11:47] wdhofmann opened #123 "Handle projects using nullable reference types"
# Background
Create a class that uses the nullable reference type feature:
[code]

Create a rule that verifies that the class just depends on itself:
[code]
# Expected result
Rule passes.

# Actual result
Rule fails.

# Reason
When using the nullable reference type feature the compiler adds some attributes to the assembly:
[code]
These attributes are added to the types of the architecture which ma

[2021-09-28 17:19] #123 closed

[2021-09-28 17:21] fgather commented on #123
Released the fix in 0.8.2

[2021-09-28 21:52] jezzsantos commented on #108
Hey @brandhuf,

I am perplexed. I created a small test project like you did to repro this and cannot repro the problem.
In other words, the types and their properties are returned as advertised.

However, is a far larger codebase (~100 assemblies), the exact same code `ruleType.GetPropertyMembers()` returns only empty collections.

I wonder if there are issues with how we are constructing our `Arc

[2021-10-04 15:14] brandhuf commented on #108
Hey @jezzsantos ,

I think that the problem lies in the implicit referencing to the assembly with the problematic types. When an assembly is loaded by reference, the AssemblyReference needs to be resolved to an AssemblyDefinition, so that we get access to all information about the types in the assembly. If the AssemblyReference can't be resolved we can still read out some information such as the f

[2021-10-05 05:01] jezzsantos commented on #108
Thanks heaps. I will try that

[2021-10-07 20:38] jezzsantos opened #126 "ResideInNamespace contains instead of exact"
Turns out that the rule `ResideInNamespace("anamespace", false)` does a partial match on the namespace instead of a full match, and so extra types are captured from other namespaces that should not be, and this makes no sense logically.

For example: I have assemblies with these namespaces:
`Api.Interfaces` and `External.Api.Interfaces`.

If use this rule:
[code]
I process types that are in both t

[2021-10-07 21:36] #121 closed

[2021-10-18 12:51] DialLuesebrink opened #129 "Assemblies do not expose referenced Assemblies"
It would be nice if Assemblies would expose the references assemblies.

[2021-10-18 12:54] LilBulb1337 opened #130 "Assemblies as a Syntax element"
It would be nice to be able to write Rules like
Assemblies().That().Rererence(...)

You can do that with types but then you can have the assembly reference and the test will not fail if no type is used.

[code]

[2021-10-18 12:56] DialLuesebrink opened #131 "ResideInAssembly should have an implementation with Domain.Assembly"
At the moment there are two ResideInAssembly methods
One that takes a string and one that takes a Reflection.Assembly it would be nice if there also was a method that uses the Domain.Assembly type.

[2021-12-01 15:34] wdhofmann opened #138 "Analyse dependencies of async methods"
# Background
Create a class that has an async method which uses another class:
[code]

Create a rule that verifies that ClassWithAsyncMethod does not depend on OtherClass:
[code]
# Expected result
Rule fails.

# Actual result
Rule passes.

# Reason
When using the async keyword the compiler creates a nested helper class that contains the logic of MethodAsync (the instantiation of OtherClass). Metho

[2021-12-01 22:57] #138 closed

[2021-12-01 22:58] fgather commented on #138
Thanks a lot, the fix is contained in 0.8.5

[2021-12-01 23:01] #96 closed

[2021-12-01 23:03] fgather commented on #96
Released in 0.9.0

[2022-01-12 12:56] Der-Kraken opened #140 "TypeDoesNotExistInArchitecture: When using 'ImplementInterface'"
Hi,

using the method `ImplementInterface(...)` throws a `TypeDoesNotExistInArchitecture` if no type was found in target architecture. If there is at least 1 type existing then that exception is not thrown.

[code]

Curiously, if I use name matching then no exception is thrown:

[code]

Is that an expected behavior? I don't care if my users do not implement that interface, but if they do then I wi

[2022-01-12 16:10] brandhuf commented on #140
Hi,

the error is thrown because first the reference to the type is being resolved and then the implemented interfaces are compared to that reference. If the referenced type is not in the architecture, it can't be resolved an an error is thrown. When you're matching by string you don't get that problem. I can see how this behaviour can be unexpected, especially in your first example. so we might c

[2022-01-14 14:02] fgather commented on #129
Hi @DialLuesebrink , sounds like a good idea. Would you like to create a PR?

[2022-01-14 14:03] fgather commented on #130
Hi @DialLuesebrink , sounds like a good idea. Would you like to create a PR?

[2022-01-14 14:04] fgather commented on #131
As part of the fix in https://github.com/TNG/ArchUnitNET/issues/126 we can improve that behavior, thanks for the input!

[2022-02-01 18:00] pitchart opened #141 "HaveReturnType() does not support generic types"
Hi,

I encountered an issue using the `HaveReturnType("...")` check.
Methods that return generic types fail to match.
Used example :
[code]
If I replace usage with `.HaveReturnType(typeof(Task<>))`, it woks fine, but not usefull in this case :-)

[2022-02-07 12:09] wiewiur25 opened #142 "AreAssignableTo is extremely slow."
Hello.

I have a problem with performance AreAssignableTo method. Example Code below:

`public class DomainDependenciesTests
    {
        private Architecture _architecture;
        private GivenClassesConjunction _entitiesClasses;

        [OneTimeSetUp]
        public void LoadAssemblies()
        {
            _architecture = new ArchLoader()
                .LoadAssemblies(Assembly.Load("xx.x

[2022-02-24 07:38] simonthum opened #143 "Error message does not list offending dependencies"
Hi,

have a rule like:
[code]

The issue is that the error message lists the whole dependencies of the offending type, not just the offending dependencies.

ArchUnitNET.xUnit.FailedArchRuleException
"Classes that are db access model should not depend on any types that are comm layer" failed:
	DSP does depend on E and V and ...   (redacted to protect the innocent).

Even just the first offending de

[2022-02-24 13:48] brandhuf commented on #141
PR #144 should fix this

[2022-03-07 21:34] #141 closed

[2022-03-07 23:25] fgather commented on #141
Released as 0.9.1

[2022-03-08 17:54] brandhuf commented on #126
This behaviour is changed in #145

[2022-03-11 14:38] fgather commented on #126
This will be a breaking change. We will release it soon, but will try to merge some other breaking changes as well, while we're at it.

[2022-03-11 15:55] #143 closed

[2022-03-11 16:11] #108 closed

[2022-03-14 07:04] wiewiur25 commented on #142
Any help?

[2022-03-14 07:31] fgather commented on #142
Hi,
we had a small test on this on Friday and were not really able to reproduce the issue unfortunately, even on larger code-bases. However, @brandhuf will further look into this. Do you have any idea, what is different with the code base you are scanning is it extremely large?

[2022-03-14 07:43] wiewiur25 commented on #142
As I described above,  _entitiesClasses.GetObjects(_architecture).ToList(); return ~400 classes and forbiddenTypes.GetObjects(_architecture).ToList(); return ~1200 types. It's quite big but IMO not extremely large.

[2022-03-14 10:35] wiewiur25 commented on #142
I debug a little bit and I see, the most of time  (almost all) are ConditionManager.EvaluateConditions() when filteredObjectsList.ToList(). Result of this conversion are 389 objects, its too big?

Second place wich have a big impact of time is place where arises conditionResults in same method. Maybe this will help?

Additionally I using FluetAssertion and I created custom assertion. Code below:
`

[2022-03-24 19:09] fgathercoupa commented on #142
Hi,
the number of classes shouldn't be an issue, same holds true for the number of findings. We use the library in far bigger codebases. We'll try to reproduce the issue, however to be honest the focus for the next two weeks will be on finalizing changes for the upcoming release.

[2022-04-27 20:25] #140 closed

[2022-04-27 22:47] fgather commented on #126
Fix released in 0.10.0

[2022-04-27 22:47] #126 closed

[2022-04-27 22:48] fgather commented on #59
Fix released in 0.10.0

[2022-04-27 22:48] #59 closed

[2022-04-27 22:48] #60 closed

[2022-04-29 07:07] fgather commented on #131
@DialLuesebrink this was just released with 0.10.1

[2022-04-29 07:07] #131 closed

[2022-05-05 13:00] franckleveque opened #159 "Generics not recognized properly"
Not sure if this is intended or not but I'm unable to get generics types recognized properly.

I want to enforce that all logger members are of type ILogger<> but I can't get it working my method :

            IArchRule rule =
                FieldMembers().That().HaveName("logger")
                .Should().Be(Types().That().Are(typeof(ILogger<>)))
                .AndShould().BePrivate();

[2022-05-05 20:30] awilliansd opened #160 "Do you have coverage to .net 6??"
I'm trying to use your lib in .net 6, but I changed the new model namespace and your lib didn't find. Do you have some solution for this?

![image](https://user-images.githubusercontent.com/4139802/167019452-72b65d47-ecb1-42c9-b687-6c979631873b.png)

[2022-05-06 09:45] Deviant-Panda commented on #159
Hi, the problem in your rule is that Be() does not work like that. It checks wether a field member is equal to one of the given fields. If you pass an interface it always fails. You want to check if field.Type is equal to ILogger<>. You can use a custom condition for that:
[code]

[2022-05-06 09:48] brandhuf commented on #159
Hi, the problem in your rule is that Be() does not work like that. It checks wether a field member is equal to one of the given fields. If you pass an interface it always fails. You want to check if field.Type is equal to ILogger<>. You can use a custom condition for that:
[code]

[2022-05-09 15:18] franckleveque commented on #159
Ok, thanks.
I didn't understood that Be() was a comparison between similar object.

[2022-05-20 12:14] gaevoy commented on #130
@DialLuesebrink, check out alternative option to verify dependencies.

https://gaevoy.com/2022/05/19/review-dependencies-on-every-commit.html

[2022-06-01 12:20] msmolka opened #162 "Tests are always passing in latest 0.10+nuget package"
I have test:

[code]

[code]
That is properly failing in version 0.9.1 but passing in version 0.10+

[2022-06-01 20:30] fgather commented on #162
Hi @msmolka , how do you load your assemblies?

In cases where many third-party dependencies are loaded, it is not a good idea to fully load all of them, since it might take a while. As long as the recursive parameter in the LoadAssemblyIncludingDependencies is not set, it would only load direct dependencies and create stubs for all the others. -> does the test work if you set this recurse paramet

[2022-06-02 02:29] awilliansd commented on #160
This test is throwing errors, because the namespace. I just update the .net 6 and failed my test

![image](https://user-images.githubusercontent.com/4139802/171537865-b3e365d3-9fb3-4dc6-82f1-8e93d98aae0a.png)

[2022-06-02 07:41] msmolka commented on #162
Whole my code is above. How can I modify it to load assembles?

[code]
also not working.

[2022-06-03 16:29] brandhuf commented on #162
With version 0.10 the default behaviour for string matching was changed. Previously
[code]
found all types which had a dependency to a type with `Microsoft.EntityFrameworkCore` contained in it's full name. Now it only find dependencies to types with the exact full name `Microsoft.EntityFrameworkCore`. The same is true for all other methods which use strings as matching parameters. You can specify

[2022-06-06 09:01] msmolka commented on #162
Looks working now

[2022-06-06 09:01] #162 closed

[2022-06-07 08:00] simonthum opened #163 "Check for immutability"
There is currently no way to check if a class is (truly) immutable. The model allows to check whether there are no (visible) setters, but I would prefer to check whether fields are readonly/init-only. This is not exposed, but I think it should be.

.net reflection equivalent is FieldInfo.IsInitOnly.

I am unsure if/how cecil covers readonly.

[2022-07-17 11:27] gbtb opened #164 "Can we add an overload with assembly filter support to ArchLoader?"
Hello! First of all, thank you for the library, it has been really helpful :smiley:

I'd like to suggest adding another overload to ArchLoader class to support custom user-defined filters for loading assemblies.
Basically, what I want to do is to define small set of "entrypoint" assemblies and load their dependencies recursively, but load only assemblies that I own (I can easily choose them by com

[2022-07-24 17:32] fgather commented on #164
Hi gbtb,
that sounds like a gread idea, which can help many others. I'd be happy if you consider to prepare a PR!

[2022-07-24 17:34] fgather commented on #163
Hi,
I think in Cecil it is called IsInitOnly as well and it looks like this is doable. Do you want to prepare a PR @simonthum? Or should it go onto the list? Should be a nice first task.

[2022-07-24 17:37] fgather commented on #160
@awilliansd did you ever find out what was the issue here? Without knowing how the Rules I set up, I failed to reproduce the issue unfortunately. Did the namespaces that ArchUnit is seeing change with .NET 6?

[2022-07-24 17:38] fgather commented on #142
@wiewiur25 ,
sorry for catching up that late. Did you try to run the test with newer versions? We snuck some performance fixes inside, which might already have helped.

[2022-07-25 13:01] awilliansd commented on #160
I did this namespaces. Follow the image

![image](https://user-images.githubusercontent.com/4139802/180783310-f07a5633-924f-4c79-af62-5297aababfed.png)

[2022-07-31 20:24] #164 closed

[2022-08-25 23:34] grzegorzorwat commented on #163
Hi,

if no one is working on it, I'd like to work on this issue.

There is one thing to think about. Prior to C# 8, the only way to make a class immutable was to declare all of its fields as readonly and not add setters to its properties. After C# 8 there is also new init keyword to make properties immutable after object construction. C# 8 is supported by .net 5 and later, but it is not supported

[2022-08-25 23:51] grzegorzorwat commented on #163
Hi,

if no one is working on it, I'd like to work on this issue.

There is one thing to think about. Prior to C# 8, the only way to make a class immutable was to declare all of its fields as readonly and not add setters to its properties. After C# 8 there is also new init keyword to make properties immutable after object construction. C# 8 is supported by .net 5 and later, but it is not supported

[2022-08-28 19:07] fgather commented on #163
Hi @grzegorzorwat,
thanks for looking into it. I'm hesitant regarding option 1, we have to support older versions as well, so there would be some conditionals all over the place.

So I feel option two would be the way to go. As a matter of fact, there is some work done already in https://github.com/TNG/ArchUnitNET/pull/170, but I don't think it is complete for your use-case. I'd be happy, if you c

[2022-09-11 20:29] simonthum commented on #163
@grzegorzorwat This looks exactly like what I had in mind :+1:

[2022-09-16 07:34] ChangeTheCode opened #177 "Question: Load assemblies example"
I have a question about you example for loading the assemblies.

[Create a Test](https://github.com/TNG/ArchUnitNET#create-a-test)
`private static readonly Architecture Architecture =
            new ArchLoader().LoadAssemblies(typeof(ExampleClass).Assembly, typeof(ForbiddenClass).Assembly)
            .Build(); `

You using a class instance to find the correct assembly to load it. This will assum

[2022-09-19 23:21] Yaevh opened #179 "How to find and verify nested types for a given type?"
In my current project I have the following requirement:

There are certain classes (representing commands) that should be validated. The validator for each command should be contained in a nested class within that command and implement `FluentValidation.IValidator`.
The example command class should thus look like this:
[code]

So the way to go should probably be like this:
1. load up the assembly

[2022-09-27 22:21] #163 closed

[2022-09-27 22:31] fgather commented on #177
I think you're right here, your approach is cleaner and should be used in the example. I believe it was there due to the fact that we had a different loading mechanism in the past, which needed the class reference.
Do you care to create a PR to fix it?

[2022-09-27 22:32] fgather commented on #142
Closing the issue, feel free to reopen it, if the problem still exists.

[2022-09-27 22:32] #142 closed

[2022-09-27 22:33] fgather commented on #113
@andredered, was this fixed by one of your latest PRs?

[2022-09-28 07:39] ChangeTheCode commented on #177
@fgather I will create a PR to adapt this in the example

[2022-10-01 09:53] ChangeTheCode opened #185 "Improvement: Execute unit test during PR validation"
I would make sense to run the unit tests in the PR validation step to make sure the code changes still work like expected before merging the PR.

[2022-10-05 12:04] andredered commented on #113
@fgather

Hmm, the last PR with C4 remains, and yes, in principle, it is ready.
The remaining possible moment: adding inscriptions.
I think it should be implemented for some specific cases.

[2022-10-06 08:09] cuvaalex opened #186 "Failing Domain rules test on Azure pipeline only"
Hi,
I got a really weird issue, on my computer it work perfectly, but on the Azure pipeline it fails, and complain my Domain objects depends on System namespace

The test
[code]
The fail log :

[code]

[2022-10-13 08:43] fgather commented on #179
@Yaevh , does the change work for you? Feel free to reopen, if you expected something different.

[2022-10-13 08:43] #179 closed

[2022-10-13 08:43] fgather commented on #113
@kirchsth  , does the change work for you? Feel free to reopen, if you expected something different.

[2022-10-13 08:43] #113 closed

[2022-10-16 16:12] simonthum opened #189 "Architecture rule validation: expect passes"
Hi,

I would like to ask about a rule validation feature I came up with.

Most of my rules are written so that they validate types. However I managed to write some that did not fail on my architecture because they did not match any type before checks ran, due to a typo.

I can identify this using `...Should().Exist().AndShould()...`, but preferred to write my own check routine to avoid repeating t

[2022-10-25 13:19] Yaevh commented on #179
@fgather Hard to say, as new version hasn't been released yet :)

[2022-11-02 09:46] #177 closed

[2022-11-02 09:56] ChangeTheCode opened #192 "How to check package references?"
Hi I have a question about the package references. I want to check that my project has only two references nuget packages.
How can I write a test to garantiere this?

Has someone a code snipped for such a test?

[2022-11-04 16:39] ChangeTheCode commented on #95
Looks like this issue can be closed should be resolved with the PR #95

[2022-11-04 17:09] studix commented on #95
I cannot find the section I added with #95 in the latest user guide. What is missing?

[2022-11-05 20:55] ChangeTheCode commented on #95
@studix  sorry I guess i linked the wrong PR I mean #127.
[Link to your section](https://github.com/TNG/ArchUnitNET/blob/main/documentation/docs/guide.md#43-plantuml-component-diagrams-as-rules)

[2022-11-06 07:40] studix commented on #95
I see it in git but how do we deploy this change to the [latest user guide](https://archunitnet.readthedocs.io/en/latest/guide/) ?

[2022-11-06 20:43] fgather commented on #189
@simonthum , since I had a very similar issue once, I think the idea is great. ArchUnit for Java has a very similar feature:
https://github.com/TNG/ArchUnit/pull/774. They implemented it into the ArchUnit core and not into the TestRunner-Code, which I think makes sense from a consistency point of view.

However, there are use-cases, where an empty Input-set is needed (see: https://github.com/TNG/A

[2022-11-06 21:15] fgather commented on #185
Hi,
that's true. I assume Travis deactivated this due to security concerns, but we could try to make it work again.

[2022-11-06 21:16] fgather commented on #95
Hi @studix ,
I assume it is not there, since it was not released yet. I'm trying to build a release soon, but there are some issues with Travis right now.

[2022-11-25 16:15] simonthum commented on #189
Sorry for the late response!

I'd suggest either the syntax implied above as the new default:

    arch.CheckRule(myRule) // compiler defaults to expectPasses = true

or something like

    myClasses.AllowEmpty().Should()...

with a missing AllowEmpty() call defaulting to check against emptiness.